<h1 class="title_main">Main Course</h1>
<div class="row col-12 menu_block">
  <div class="col-md-3 col-lg-3 col-sm-1">
    <div class="flip-card ">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://img-global.cpcdn.com/004_recipes/d7b5404d4b19a0a6/751x532cq70/%E0%B8%97%E0%B8%AD%E0%B8%94%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%9B%E0%B8%A5%E0%B8%B2%E0%B8%81%E0%B8%A3%E0%B8%B2%E0%B8%A2-recipe-main-photo.jpg" alt="Responsive image" class="img_main">
        </div>
        <div class="flip-card-back bg-dark back_card">
          <h1 class="menu_name">ทอดมันปลากราย</h1> 
          <p class="prince_font">ราคา: 80฿</p> 
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-1">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cache.gmo2.sistacafe.com/images/uploads/summary/image/12318/c10c64c27e0606d1654b81b9bb482558_XL.jpg" alt="Responsive image" class="img_main">
        </div>
        <div class="flip-card-back bg-dark back_card">
          <h1 class="menu_name">กุ้งมะนาวเปรี้ยวแซ่บ</h1> 
          <p class="prince_font">ราคา: 120฿</p> 
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-1">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://scm-assets.constant.co/scm/unilever/a6798e909fa57bfd19c3e7f00737e5d6/fc5d82bd-33c5-47d8-818d-613c4eaadda9.jpg" alt="Responsive image" class="img_main">
        </div>
        <div class="flip-card-back bg-dark back_card">
          <h1 class="menu_name">เเต้าหู้ทรงเครื่อง</h1> 
          <p class="prince_font">ราคา: 120฿</p> 
    
        </div>
      </div>
    </div>
  </div><div class="col-md-3 col-lg-3 col-sm-1">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://2.bp.blogspot.com/-waRCSSndLiM/VlrBMhP3PfI/AAAAAAAABdU/LqvWhGkaxUY/s320/Image.jpg" alt="Responsive image" class="img_main">
        </div>
        <div class="flip-card-back bg-dark back_card">
          <h1 class="menu_name">ไก่ทอดเกลือตะไคร้กรอบ</h1> 
          <p class="prince_font">ราคา: 150฿</p> 
         
        </div>
      </div>
    </div>
  </div>
</div>

<!--1-->
<div class="row col-12 menu_block">
    <div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card ">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://sites.google.com/a/swdschool.ac.th/thailand-food/_/rsrc/1468754746422/hmu-kxr-dxng-belx-pork-cordon-bleu/hmukxrdxngbelxporkcordonbleu/3333.jpg" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">หมูกอร์ดองเบลอ</h1> 
            <p class="prince_font">ราคา: 120฿</p> 
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://sites.google.com/site/yamdongphlong/_/rsrc/1451053416772/reuxng-thi-2-withi-kar-tha-xahar-thiy/pla-tm-krachay/pic4-4-6.jpg?" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">ไก่ทอดเกลือตะไคร้กรอบ</h1> 
            <p class="prince_font">ราคา: 120฿</p> 
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://scm-assets.constant.co/scm/unilever/a6798e909fa57bfd19c3e7f00737e5d6/86432069-cf96-48b2-996f-37d86f491501.jpg" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">ลาบหมู</h1> 
            <p class="prince_font">ราคา: 100฿</p> 
      
          </div>
        </div>
      </div>
    </div><div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="http://4.bp.blogspot.com/-vofYVLTl8WI/U8kCRucrIzI/AAAAAAAABXo/Q7JzD49Lw1E/s1600/%E0%B8%A5%E0%B8%B2%E0%B8%9A%E0%B8%94%E0%B8%AD%E0%B8%81%E0%B8%82%E0%B8%88%E0%B8%A3.jpg" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">ลาบดอกขจร</h1> 
            <p class="prince_font">ราคา: 100฿</p> 
           
          </div>
        </div>
      </div>
    </div>
  </div>

<!--2-->

<div class="row col-12 menu_block">
    <div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card ">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://daily.rabbitstatic.com/wp-content/uploads/2017/07/%E0%B9%84%E0%B8%81%E0%B9%88%E0%B8%9E%E0%B8%A3%E0%B8%B4%E0%B8%81%E0%B9%81%E0%B8%81%E0%B8%87.jpg" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">ปีกไก่อบต้มยำพริกเผา</h1> 
            <p class="prince_font">ราคา: 140฿</p> 
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://pbs.twimg.com/media/DjpmwOrUYAA2isu.jpg" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">ฟักทองผัดไข่ใบโหระพา</h1> 
            <p class="prince_font">ราคา: 100฿</p> 
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://obs.line-scdn.net/0hAJzR6arpHmVHKzHRny9hMn19HQp0Rw1mIx1PZhtFQFFiTltmf0lTC2QoR1ZpGlk7KUVRAGYvBVRsGg5kKUhT/w644" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">ซุปหน่อไม้</h1> 
            <p class="prince_font">ราคา: 120฿</p> 
      
          </div>
        </div>
      </div>
    </div><div class="col-md-3 col-lg-3 col-sm-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://s359.kapook.com/pagebuilder/68b38a77-2784-493d-bdb8-1854e45b752a.jpg" alt="Responsive image" class="img_main">
          </div>
          <div class="flip-card-back bg-dark back_card">
            <h1 class="menu_name">หอยทอด</h1> 
            <p class="prince_font">ราคา: 120฿</p> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
<!--3-->
<div class="row col-12 menu_block">
        <div class="col-md-3 col-lg-3 col-sm-1">
          <div class="flip-card ">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/d1/7d/86/caption.jpg" alt="Responsive image" class="img_main">
              </div>
              <div class="flip-card-back bg-dark back_card">
                <h1 class="menu_name">ทะเลอบวุ้นเส้น</h1> 
                <p class="prince_font">ราคา: 140฿</p> 
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-1">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://food.mthai.com/app/uploads/2017/03/Spicy-Blood-cockle-salad.jpg" alt="Responsive image" class="img_main">
              </div>
              <div class="flip-card-back bg-dark back_card">
                <h1 class="menu_name">ยำหอยแครง</h1> 
                <p class="prince_font">คารา: 100฿</p> 
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-1">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://www.thaiarcheep.com/wp-content/uploads/2014/12/%E0%B8%AB%E0%B8%AD%E0%B8%A2%E0%B9%81%E0%B8%A1%E0%B8%87%E0%B8%A0%E0%B8%B9%E0%B9%88.jpg" alt="Responsive image" class="img_main">
              </div>
              <div class="flip-card-back bg-dark back_card">
                <h1 class="menu_name">หอยแมลงภู่อบชีส</h1> 
                <p class="prince_font">ราคา: 120฿</p> 
          
              </div>
            </div>
          </div>
        </div><div class="col-md-3 col-lg-3 col-sm-1">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://4.bp.blogspot.com/-LDtPYWlkUWo/WHxXmBkp3KI/AAAAAAAAAgI/8_2kmhlvonkP4E0v-KqNHdFbu7Dd9L_kgCLcB/s320/Image.aspx.jpg" alt="Responsive image" class="img_main">
              </div>
              <div class="flip-card-back bg-dark back_card">
                <h1 class="menu_name">ต้มยำพริกเผาไข่เจียวโป๊ะแตก</h1> 
                <p class="prince_font">ราคา: 120฿</p> 

  <br>
  <br>
  <br>
