/* .header {
    height: 70px;
} */

.body {
    background-image: url('../assets/images/annie-spratt-tKpA64QrccM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
}

.footer {
    bottom: 0px;
}