.header {
    height: 70px;
    background-color: blue;
}

.body {
    background-color: aqua;
    height: 80%;
}

.footer {
    height: 70px;
    background-color: black;
    bottom: 0px;
    position: relative;
}