<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/ice-cubes.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>น้ำแข็งเปล่า</h2>
                <h2>แก้วละ 5 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/download.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>น้ำเปล่า</h2>
                <h2>ขวดละ 20 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/coke.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>โค้ก แฟนต้า สไปร์ท</h2>
                <h2>ขวดละ 50 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/download (1).jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>ชาเย็น</h2>
                <h2>แก้วละ 35 บาท</h2>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/coffee.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>กาแฟเย็น</h2>
                <h2>แก้วละ 35 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/647925-topic-ix-4.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>ชาลิปตัน</h2>
                <h2>แก้วละ 40 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/นมเย็น_0190.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>นมเย็น</h2>
                <h2>แก้วละ 40 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/download (2).jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>ชามะลิ</h2>
                <h2>แก้วละ 35 บาท</h2>
            </div>
        </div>
    </div>
</div>
ิ<br>
<br>
<h1 style="color:#fff">น้ำผลไม้</h1>
<br><br>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/o.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>น้ำส้ม</h2>
                <h2>แก้วละ 30 บาท</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/img_1185.jpg" width="350px" height="250px" alt="">
            <div class="overlay">
                <h2>น้ำแตงโม</h2>
                <h2>ขวดละ 30 บาท</h2>
            </div>
        </div>
    </div>

</div>
<br><br><br><br><br>