<div class="row">
  <div class="col-4"><br /><br /></div>
  <div class="col-4"></div>
  <div class="col-4" style="text-align: right">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-pinterest"></a>
  </div>
</div>
<div style="text-align: center">
  <h1>ภัตตาคาร เฮีย 4</h1>
  <br />
  <h2>ยินดีต้อนรับ</h2>
  <hr />
  <img
    src="../../assets/images/62562s.png"
    width="300"
    height="300"
    class="rounded-circle"
    style="border: 3px"
    alt=""
  /><br />
  <br />
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://i.pinimg.com/originals/96/6f/9c/966f9c7d86e6f699aeba0a5bdec54cc3.jpg"
          class="rounded"
          height="600"
          width="auto"
          alt="Los Angeles"
        />
      </div>
      <div class="carousel-item">
        <img
          src="http://www.bestfunforall.com/better/imgs/Food%20HD%20wallpaper%20%2015.jpeg"
          class="rounded"
          height="600"
          width="auto"
          alt="Chicago"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://pbs.twimg.com/media/DffMm_UV4AAeu77.jpg"
          class="rounded"
          height="600"
          width="auto"
          alt="Chicago"
        />
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div style="text-align: center">
      <blockquote>
        ถ้าพูดถึงร้านอาหารพื้นเมืองที่คนตามไปกินเยอะที่สุด คงต้องยกให้
        ร้านภัตตาคาร เฮีย 4 (ร้านอันดับหนึ่งย่านนิมมานเหมินทร์
        ขายดิบขายดีมีคอนเซปต์) ส่วนร้านอาหารพื้นเมืองนอกเมืองย่านสันกำแพง
        ไช้ชวนชิมยกให้ เฮือนใจ๋ยอง (ติดอันดับหนึ่งในลิสต์นี้มานานแสนนาน)
        อีกร้านที่ไม่ค่อยทำให้ผิดหวัง คือ เฮือนม่วนใจ๋ ร้านนี้คนก็เยอะจริงจัง
        ถ้าแวะไปช่วงพีคๆ คือคนเยอะมาก เมื่อปีที่แล้วลองสลับเอาร้าน
        ฮ้านถึงเชียงใหม่
        ขึ้นมาบรรจุอยู่ในลิสต์นี้เพราะหลังจากย้ายมาอยู่ในซอยวัดอุโมงค์
        ลูกค้าตามมากินกันเพียบ ที่ทางกว้างขวางขึ้นแม้จะยังคงคอนเซปต์ร้านเพิงอยู่
        จนมาถึงซีซั่นนี้ ขอเอาร้านใหม่มาเทียบเคียงดูบ้าง ร้านหลองข้าวลำ
        อาจจะอยู่ไกลซักนิด ขนาดเปิด Google Maps แล้วยังหลงทางเลย (ใน google maps
        จะเขียนว่า Lanna Rice Barn) นักท่องเที่ยวสายตะลุยอย่างเรากลัวที่ไหน
        ทางมันมีก็ต้องไปได้สิ สถานที่มันขลังมากขอบอก รสชาติอาจไม่เลิศเลอ
        แต่ของมันต้องลองครับเพราะบรรยากาศมันให้มาก อาหารจานไม่ใหญ่มาก
        สั่งได้หลายอย่างมาลองชิมอย่างละนิดละหน่อย (หมายเหตุ:
        ร้านหยุดทุกวันพุธครับ) สำหรับคนที่ไม่อยากไปไกล
        มีร้านอาหารเหนืออีกแห่งที่เพิ่งเปิดใหม่ได้ไม่นาน หอมด่วน(เชียงใหม่)
        อยู่หลัง มช. สุดซอย 7 เจ้าเดียวกันกับร้านข้าวแกงหอมด่วนแถวเอกมัย
        ไช้ชวนชิมนี่ผูกปิ่นโตกินที่ร้านนี้ประจำเลย
      </blockquote>
    </div>
  </div>
  <div class="col-2"></div>
</div>
<br /><br /><br /><br /><br /><br />
<div class="row">
  <div class="col-4"></div>
  <div class="col-4"></div>
  <div class="col-4">
    <blockquote>
      ที่อยู่: เสาหิน ซอย 7 วัดหัวหนอง เวียงกุมกาม สารภี โทร. 089-435-5529
    </blockquote>
  </div>
</div>
<br /><br /><br />
